<div class="card p-3 m-2 shadow rounded border">
    <h3>@EventName</h3>
    <p><strong>Date:</strong> @EventDate.ToShortDateString()</p>
    <p><strong>Location:</strong> @EventLocation</p>
</div>

@code {
    [Parameter]
    public string EventName { get; set; }

    [Parameter]
    public DateTime EventDate { get; set; }

    [Parameter]
    public string EventLocation { get; set; }
}
